.about {
  display: flex;
  align-content: flex-start;
  text-align: left;
  font-size: 1.3rem;
}

.aboutPageBreak {
  margin-bottom: 0%;
}

.aboutList {


  margin-top: 0%;
  font-size: 1rem;
}

.subline {

  text-align: left;
  margin-bottom: 0;
}