/* layout */

.table {
  
        margin-left: 1em;
        margin-top: 1em;
        text-align: left;
        width: 100%;
        padding-top: 10px; /* Add padding to the top of the table */
    
}

#topRow {
    padding-top: 10px; 
}

.table img {
    width: 35px;
  height: auto; 
  /* display: block; */
}

td:nth-child(1),
th:nth-child(1) {
  width: 0px;
  padding-right: 5px;
 
}


/* border */
th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.107);
    margin-bottom: 10px !important; /* Add space below the table header */

}

/* animation */
/* Set initial border style for all cells */
td {
    box-sizing: border-box;
    border-left: 2px solid transparent;
    transition: border-left 0.7s ease;
    /* padding-left: 10px; */
  }

/* font */
.tableDescription {
    font-weight: lighter;
}
th {
    font-weight: 600;
}

