/* Shadow Constants */
:root {
  --shadow-color: 0deg 0% 10%;
  --shadow-elevation-low:
    0px 1px 1.2px hsl(var(--shadow-color) / 0.37),
    0.1px 4.1px 5.1px -1.7px hsl(var(--shadow-color) / 0.55);
  --shadow-elevation-medium:
    0px 0px 20.2px hsl(var(--shadow-color) / 213.77),
    0.3px 20.6px 25.6px 9.3px hsl(var(--shadow-color) / 0.5);
  --shadow-elevation-high:
    0px 1px 1.2px hsl(var(--shadow-color) / 0.65),
    0.4px 27.1px 33.7px -0.8px hsl(var(--shadow-color) / 0.85),
    1.7px 106px 132px -1.7px hsl(var(--shadow-color) / 1);
  --animation-header: 350ms ease-in-out;
  --animation-border: 200ms ease-in-out;
}

.scrollContainer {
  position: sticky;
}

.headerContainer {
  position: sticky;
  top: 0;
  z-index: 99;
}

.pageHeader {
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 1em;
  margin-left: 1em;
  padding: 0px 0em;
  position: sticky;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(3px);
  border-radius: 0px;
  transition:
    height 300ms ease-in-out,
    padding var(--animation-header),
    margin-left var(--animation-header),
    margin-top var(--animation-header),
    margin-right var(--animation-header),
    border-radius var(--animation-header),
    transform var(--animation-header),
    box-shadow 500ms ease-in-out,
}

.pageHeaderScroll {
  height: 3.6em;
  /* top: 10px; */
  padding: 0px 2em;
  border-radius: 50px;
  box-shadow: var(--shadow-elevation-low);
  z-index: 2;
  /* transition:
    padding var(--animation-header),
    margin-left var(--animation-header),
    margin-right var(--animation-header),
    margin-top var(--animation-header),
    justify-content var(--animation-header),
    border-radius var(--animation-header),
    transform var(--animation-header),
    box-shadow 500ms ease-in-out,
    border 1500ms ease-in-out; */
}

.headerHeaderLight {
  backdrop-filter: blur(15px);
  display: flex;
  position: sticky;
  flex-direction: row;
  justify-content: space-between;
}

/* Header Bottom Border */
.headerBorder,
.headerBorderScroll {
  transition:
    margin-left var(--animation-border),
    margin-right var(--animation-border),
    opacity var(--animation-border)
}

.headerBorder {
  margin-left: 18px;
  margin-right: 18px;
  position: sticky;
  z-index: 1;
  height: 2px;
  background-color: white;
  transition-delay: 250ms;

}

.headerBorderScroll {
  position: sticky;
  justify-items: center;
  align-content: center;
  opacity: 0;
}

.headerBorderLight {
  background-color: black;
}


#toggle {
  transform: translateY(4px);
  cursor: pointer;
}


#toggleComponent {
  display: none;
}


.pageHeaderscroll {
  /* transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.810, 0.150, 0.250, 0.940); */
  /* font-size: 60%; */
  margin-left: 0em;
  margin-right: 0em;
  /* font-size: 4%; */
  /* opacity: 0.3; */
  /* height: 60px; */

  /* border-bottom: 2px solid rgb(0, 0, 0); */
}

.title {
  margin-left: 0em;
  mix-blend-mode: multiply;
  font-family: Gill sans;
  display: flex;
  align-items: center;
  /* padding: 0.9em; */
  /* border: 1.5em; */
  transition: padding 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.titleScroll {
  font-family: Gill sans;
  border: 1.5em;
  color: grey;
}

.title:hover {
  /* background-color: rgba(255, 255, 255, 0.102); */
}

#switcher {
  display: flex;
  align-self: center;
}