/* Header Border CSS */
/* * {
   transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.810, 0.150, 0.250, 0.940);
} */


.about {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}

.profileImage {
  width: fit-content;
  width: 50vh;
  border: 1px solid transparent;
  margin-left: 1em;
  filter: saturate(80%);
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.profileImage:hover {
  /* width | style | color */
border: 1px solid white;
  filter: saturate(100%);
}
.cvLink {
  color: rgb(0, 191, 255);
}


.headerBorder {
  position: sticky;
  margin-left: 1em;
  margin-right: 1em;
  /* margin-top: 0px; */
  height: 2px;
  /* border-radius: 15px; */
  background-color: white;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.headerBorderLight {
  background-color: black
}


/* carousel CSS */
.carousel {
  margin: 5px;
}

.carousel-image {
  padding: 5px;
}


#toggle {
transform: translateY(4px);
cursor: pointer;
}


#toggleComponent {
  display: none;
}


#titlegroup {
  color: white;
  font-family: Gill sans;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  /* transition-duration: 0.28s; */
  margin-right: auto;
}

#title:hover {
  /* opacity: 1 transition-duration 0.28s; */
}

.pageHeader {
  z-index: 1;
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.810, 0.150, 0.250, 0.940); */
  display: flex;
  position: sticky;
  /* background-color: rgb(0, 0, 0); */
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;

}

.pageHeaderLight {
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  display: flex;
  position: sticky;
  /* background-color: rgb(0, 0, 0); */
  /* top: 0; */
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
  /* border-bottom: 2px solid rgb(0, 0, 0); */
  border-bottom-width: 100%;
  /* padding-bottom: 2px; */
}

.pageHeaderscroll {
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.810, 0.150, 0.250, 0.940); */
  /* font-size: 60%; */
  margin-left: 0em;
  margin-right: 0em;
  font-size: 4%;
  opacity: 0.3;
  /* height: 60px; */
  border-bottom: 2px solid rgb(0, 0, 0);
}

#title {
  font-family: Gill sans;
  padding: 0.9em;
  border: 1.5em;
}

.titlescroll {
  padding: 0.4em;
  border: 1.5em;
  margin: 0px;

}

#title:hover {
  /* transition-duration: 250ms;
  transition-timing-function: ease-in-out; */
  background-color: rgba(255, 255, 255, 0.102);
}

#switcher {
  display: flex;
  align-self: center;

}

.switch {
  color: rgb(93, 92, 92);
  font-family: Gill sans;
  font-style: normal;
  font-weight: normal;
  /* opacity: 0.25; */
  /* transition-duration: 250ms !important;
   transition-timing-function: cubic-bezier(0.810, 0.150, 0.250, 0.940); */
  transition-duration: 0.28s;
}
.switchlight {
  color: rgb(93, 92, 92);
  font-family: Gill sans;
  font-style: normal;
  font-weight: normal;
  /* opacity: 0.25; */
  /* transition-duration: 250ms !important;
   transition-timing-function: cubic-bezier(0.810, 0.150, 0.250, 0.940); */
  transition-duration: 0.28s;
}


.switch:hover {
  color: white;
  /* transition-duration: 0.28s;
  -webkit-transform: color(cubic-bezier(0.515, 0.095, 0.115, 1.020));
  transform: color(cubic-bezier(0.515, 0.095, 0.115, 1.020)); */
}
.switchlight:hover {
  color: black;
  /* transition-duration: 0.28s;
  -webkit-transform: color(cubic-bezier(0.515, 0.095, 0.115, 1.020));
  transform: color(cubic-bezier(0.515, 0.095, 0.115, 1.020)); */
}

#line {
  padding-left: 2px;
  padding-right: 2px;
  opacity: 0.5 !important;
}


.footer {
  position: static;
  color: white;
  opacity: 50%;
  font-family: Gill sans;
  font-style: normal;
  font-size: 0.8vw;
  font-weight: normal;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* background-color: grey; */
}

/* MEDIA QUERIES */
@media screen and (max-width: 1499px) {


  #title,
  .switch {
    font-size: 1.5rem;
  }
}

/* iphone  */
@media screen and (min-width: 1px) and (max-width: 600px) {
  

  #title {
    font-size: 1.3rem;

  }

  .about {
    font-size: 1.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  .profileImage {
    width: 40vh;
    margin-left: 0em;
  }

  .switch {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 799px) {
 
}


/* desktop, tablet,  */
@media screen and (min-width: 1399px) and (max-width: 1499px) {
  


  #title,
  .switch {
    font-size: 1.5rem;
    /* !important */
  }
}


@media screen and (min-width: 1500px) {


  #title,
  .switch {
    font-size: 1.8rem;
    /* !important */
  }
}

/* END MEDIA QUERIES */

body {
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;  
} 


.bodylight {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;  

}

.carouselItemContainer {
  text-align: center;

}

.carouselItemDescription {
  font-weight: 200;
  opacity: 0.2;
  margin-top: 2px;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.carouselItemContainer:hover .carouselItemDescription {
  opacity: 1;
}

#gameImage {
  mix-blend-mode: multiply;
  filter: contrast(1);
}

