/* * {
   transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.810, 0.150, 0.250, 0.940);
} */

/* MAX KOHLER ROOT CSS styles */
:root {
  --font-text: "Atlas", serif;
  --font-sans: "Atlas", "Arial", sans-serif;
  --font-mono: "Consolas", "Lucida Console", Courier Prime, monospace;
  --ratio: 1.2;
  --ms-0: clamp(0.9rem, calc(1.3vw + 0.2rem), 1.25rem);
  --ms--2: calc(var(--ms--1) / var(--ratio));
  --ms--1: calc(var(--ms-0) / var(--ratio));
  --ms-1: calc(var(--ms-0) * var(--ratio));
  --ms-2: calc(var(--ms-1) * var(--ratio));
  --ms-3: calc(var(--ms-2) * var(--ratio));
  --ms-4: calc(var(--ms-3) * var(--ratio));
  --ms-5: calc(var(--ms-4) * var(--ratio));
  --ms-6: calc(var(--ms-5) * var(--ratio));
  --ms-7: calc(var(--ms-6) * var(--ratio));
  --ms-text: calc(var(--ms-0));
  --black: rgb(8, 8, 8);
  --gray: rgb(102, 104, 105);
  --lightgray: rgb(238, 237, 234);
  --white: #fff;
  --mark: rgb(249, 237, 181);
  --background: rgb(253, 253, 253);
  --blue: #2e50a6;
  --red: #c4320a;
  --fast: 300ms;
  --br: 3px;
  --padding: var(--ms-0);
  --baseline: calc(var(--ms-0) * 1.45);
}

a {
  color: var(--blue)
}

.footer {
  text-decoration: underline;
  text-align: center;
  opacity: 50%;
  bottom: 0;
  width: 100%;
  position: fixed;
  font-size: 0.7em;
}

.about {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}

.profileImage {
  width: fit-content;
  width: 50vh;
  border: 1px solid transparent;
  margin-left: 1em;
  filter: saturate(80%);
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.profileImage:hover {
  /* width | style | color */
  border: 1px solid white;
  filter: saturate(100%);
}

.cvLink {
  color: rgb(0, 191, 255);
}




/* MEDIA QUERIES */
@media screen and (max-width: 1499px) {

}

/* Mobile / phone  */
@media screen and (min-width: 1px) and (max-width: 600px) {

  .carousel img {
    width: 80%;
  }

.componentTab {
font-size: larger !important;
}

  .about {
    font-size: 1.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .profileImage {
    width: 40vh;
    margin-left: 0em;
  }

}

@media screen and (min-width: 501px) and (max-width: 799px) {}


/* desktop, tablet,  */
@media screen and (min-width: 1399px) and (max-width: 1499px) {




}


@media screen and (min-width: 1500px) {

}

/* END MEDIA QUERIES */

body {
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.bodylight {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}


#gameImage {
  mix-blend-mode: multiply;
  filter: contrast(1);
}




/* carousel CSS */
.carousel {
  margin-top: 2vh;
 /* max-height: 70vh;  Adjust the value as needed */
  overflow: hidden;
}

.carousel img {
  border-radius: 15px;
}

.carouselItemDescription {
  font-weight: 200;
  opacity: 0;
  margin-top: 2px;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.carouselItemContainer:hover .carouselItemDescription {
  opacity: 1;
}



.carousel-image {
  padding: 5px;

}

.carouselItemContainer {
  text-align: center;

}

.carouselItemDescription {
  font-weight: 200;
  opacity: 0;
  margin-top: 2px;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.carouselItemContainer:hover .carouselItemDescription {
  opacity: 1;
}


