/* Header Border CSS */
/* * {
   transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.810, 0.150, 0.250, 0.940);
} */

/* MAX KOHLER ROOT CSS styles */
:root {
  --font-text: "Atlas", serif;
  --font-sans: "Atlas", "Arial", sans-serif;
  --font-mono: "Consolas", "Lucida Console", Courier Prime, monospace;
  --ratio: 1.2;
  --ms-0: clamp(0.9rem, calc(1.3vw + 0.2rem), 1.25rem);
  --ms--2: calc(var(--ms--1) / var(--ratio));
  --ms--1: calc(var(--ms-0) / var(--ratio));
  --ms-1: calc(var(--ms-0) * var(--ratio));
  --ms-2: calc(var(--ms-1) * var(--ratio));
  --ms-3: calc(var(--ms-2) * var(--ratio));
  --ms-4: calc(var(--ms-3) * var(--ratio));
  --ms-5: calc(var(--ms-4) * var(--ratio));
  --ms-6: calc(var(--ms-5) * var(--ratio));
  --ms-7: calc(var(--ms-6) * var(--ratio));
  --ms-text: calc(var(--ms-0));
  --black: rgb(8, 8, 8);
  --gray: rgb(102, 104, 105);
  --lightgray: rgb(238, 237, 234);
  --white: #fff;
  --mark: rgb(249, 237, 181);
  --background: rgb(253, 253, 253);
  --blue: #2e50a6;
  --red: #c4320a;
  --fast: 300ms;
  --br: 3px;
  --padding: var(--ms-0);
  --baseline: calc(var(--ms-0) * 1.45);
}



.footer {
  text-decoration: underline;
  text-align: center;
  opacity: 50%;
  bottom: 0;
  width: 100%;
  position: fixed;
  /* font-size: 0.8vw; */
}

.about {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}

.profileImage {
  width: fit-content;
  width: 50vh;
  border: 1px solid transparent;
  margin-left: 1em;
  filter: saturate(80%);
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.profileImage:hover {
  /* width | style | color */
border: 1px solid white;
  filter: saturate(100%);
}
.cvLink {
  color: rgb(0, 191, 255);
}


.headerBorder {
  position: sticky;
  margin-left: 1em;
  margin-right: 1em;
  /* margin-top: 0px; */
  height: 2px;
  border-radius: 15px;
  background-color: white;
  /* transition-duration: 500ms; */
  transition-timing-function: ease-in-out;
}

.headerBorderLight {
  background-color: black
}


/* carousel CSS */
.carousel {
  margin: 5px;
}

.carousel-image {
  padding: 5px;
}


#toggle {
transform: translateY(4px);
cursor: pointer;
}


#toggleComponent {
  display: none;
}


#titlegroup {
  color: white;
  font-family: Gill sans;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  margin-right: auto;
}

#title:hover {

}

.pageHeader {
  z-index: 1;
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.810, 0.150, 0.250, 0.940); */
  display: flex;
  position: sticky;
  /* background-color: rgb(0, 0, 0); */
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;

}

.pageHeaderLight {
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  display: flex;
  position: sticky;
  /* background-color: rgb(0, 0, 0); */
  /* top: 0; */
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
  /* border-bottom: 2px solid rgb(0, 0, 0); */
  border-bottom-width: 100%;
  /* padding-bottom: 2px; */
}

.pageHeaderscroll {
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.810, 0.150, 0.250, 0.940); */
  /* font-size: 60%; */
  margin-left: 0em;
  margin-right: 0em;
  font-size: 4%;
  opacity: 0.3;
  /* height: 60px; */
  border-bottom: 2px solid rgb(0, 0, 0);
}

#title {
  font-family: Gill sans;
  padding: 0.9em;
  border: 1.5em;
}

.titlescroll {
  padding: 0.4em;
  border: 1.5em;
  margin: 0px;

}

#title:hover {
  /* transition-duration: 250ms;
  transition-timing-function: ease-in-out; */
  background-color: rgba(255, 255, 255, 0.102);
}

#switcher {
  display: flex;
  align-self: center;

}

.switch {
  color: rgb(93, 92, 92);
  font-family: Gill sans;
  font-style: normal;
  font-weight: normal;
  transition-duration: 0.28s;
}
.switchlight {
  color: rgb(93, 92, 92);
  font-family: Gill sans;
  font-style: normal;
  font-weight: normal;

  transition-duration: 0.28s;
}


.switch:hover {
  color: white;
 
}
.switchlight:hover {
  color: black;

}

#line {
  padding-left: 2px;
  padding-right: 2px;
  opacity: 0.5 !important;
}



/* MEDIA QUERIES */
@media screen and (max-width: 1499px) {


  #title,
  .switch {
    font-size: 1.5rem;
  }
}

/* iphone  */
@media screen and (min-width: 1px) and (max-width: 600px) {
  

  #title {
    font-size: 1.3rem;

  }

  .about {
    font-size: 1.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  .profileImage {
    width: 40vh;
    margin-left: 0em;
  }

  .switch {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 799px) {
 
}


/* desktop, tablet,  */
@media screen and (min-width: 1399px) and (max-width: 1499px) {
  


  #title,
  .switch {
    font-size: 1.5rem;
    /* !important */
  }
}


@media screen and (min-width: 1500px) {


  #title,
  .switch {
    font-size: 1.8rem;
    /* !important */
  }
}

/* END MEDIA QUERIES */

body {
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;  
} 


.bodylight {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.carouselItemContainer {
  text-align: center;

}

.carouselItemDescription {
  font-weight: 200;
  opacity: 0.2;
  margin-top: 2px;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.carouselItemContainer:hover .carouselItemDescription {
  opacity: 1;
}

#gameImage {
  mix-blend-mode: multiply;
  filter: contrast(1);
}

