nav {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  /* overflow: hidden; */
  transition: background-color 0.6s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav li {
  padding: 4px; /* Add padding around the icon */
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 5px; 
  margin-right: 5px; /* Add some space between icons */
  
}

nav li:hover {
  background-color: rgba(158, 158, 158, 0.399); 
}

nav li.active {
  background-color: rgba(138, 138, 138, 0.548); 
}

nav li:active {
  /* transform: scale(1.2); */
}

